.cst-kand-img {
    background: url(../assets/img/bg-header-top.png ) 50% repeat-x;
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    z-index: 0;
}


.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}

.image-container {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .navbar-toggler {
    padding: 0 !important;
    border: none !important;
}

.nav-item {
    cursor: pointer;
}
.logo-style {
    cursor: pointer;
}

.footer-container-styles {
    max-width: 1220px !important;
}


.nav-item-style {
    padding: 30px 10px !important;
}

/* components/VideoModal.css */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 700px;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FE5D37;
    color: white;
    border: 1px solid #FE5D37;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
  }
  
  .video {
    height: 570px !important;
    width: 100%;
  }

  @media (max-width: 1200px) {
    .video {
        height: 500px !important;
    }
  }
  
  .videoWrapper {
    position: relative;
  }
   
  .loopIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none;
  }
  

.eventCard {
    cursor: pointer;
  }
  
  .videoContainer {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .videoContainer video {
    border-radius: 8px;
  }

  
  .img-fluid-style {
    height: 500px !important;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  @media (max-width: 1200px) {
    .img-fluid-style {
        height: 450px !important;
    }    
  }
  @media (max-width: 1200px) {
    .videoContainer {
        width: 100%;
    }    
  }
  
  .playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none; 
    
  }
  